anyio
appnope
archspec
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
babel
backcall
beautifulsoup4
bleach
blinker
boltons
Brotli 
brotlicffi 
certifi
cffi
chardet
charset-normalizer
click
codecov
colorama
comm
contextlib2
contourpy
coverage
cryptography 
cvxopt
cycler
debtcollector
debugpy
decorator
defusedxml
distro 
executing
fastjsonschema
Flask
fonttools
fqdn
frozendict 
gitdb
GitPython
gunicorn
h11
httpcore
httpx
idna
importlib_metadata
iniconfig
ipykernel
ipython
ipython-genutils
ipython_pygments_lexers
isoduration
itsdangerous
jedi
Jinja2
joblib
json5
jsonpatch 
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter-server-mathjax
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_git
jupyterlab_pygments
jupyterlab_server
kiwisolver
lark
lattices
MarkupSafe
matplotlib
matplotlib-inline
mistune
more-itertools
nbclient
nbconvert
nbdime
nbformat
nest-asyncio
networkx
nltk
notebook_shim
numpy
packaging
pandocfilters
parso
pbr
pexpect
pickleshare
pillow
platformdirs
PLTable
pluggy
prettytable
prometheus_client
prompt_toolkit
psutil
ptyprocess
pure_eval
py
pycddlib
pycosat 
pycparser
Pygments
pyOpenSSL 
pyparsing
pypoman
PySocks 
python-dateutil
python-json-logger
PyYAML
pyzmq
referencing
regex
requests
rfc3339-validator
rfc3986-validator
rfc3987-syntax
rpds-py
ruamel.yaml
scipy
Send2Trash
setuptools
six
smmap
sniffio
soupsieve
stack-data
termgraph
terminado
tinycss2
tornado
tqdm
traitlets
truststore 
typing_extensions
tzdata
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
wheel
wrapt
yapf
zipp
zstandard 
